body {
  max-width: 900px;
  margin-left: 20px;
  padding: 15px;
  position: relative;
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 1.6;
}

a, a:visited {
  color: #4078c0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.vega-embed .vega-actions {
  font-weight: 300;
  text-align: right;
  font-size: 12px;
}

.vega-embed .vega-actions a {
  margin-left: 1em;
  visibility: hidden;
}

.vega-embed:hover .vega-actions a {
  visibility: visible;
}

.vega-embed .vega-params {
  position: absolute;
  width: 220px;
  right: 0;
  z-index: 1;
  font-size: small;
  background: rgba(255, 255, 255, 0.75);
  border: 1px dashed #dedede;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #dedede;
  padding: 4px 10px;
}

.vega-embed .vega-param {
  line-height: 15px;
}

.vega-embed .vega-param * {
  vertical-align: middle;
}

.vega-embed .vega-param-name {
  display: inline-block;
  width: 60px;
  margin-right: 10px;
  font-size: 11px;
  font-weight: 500;
  overflow: hidden;
}

.vega-embed .vega-params label {
  font-size: 10px;
  margin-right: 5px;
}

.vega-embed label.vega-range {
  display: inline-block;
  max-width: 30px;
  overflow: hidden;
}

.vega-embed .vega-params input[type=range] {
  max-width: 100px;
  margin-right: 5px;
}

.vega-embed .vega-params input[type=text] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 2px 0;
}

.vega-embed .vega-params select,
.vega-embed .vega-params input[type=text] {
  box-sizing: border-box;
  width: 130px;
  max-width: 130px;
}
