.DS_Store
.eslintignore
.eslintrc.js
.prettierignore
beemo-error.log
bower_components
build
build-es5
coverage/
node_modules
npm-debug.log*
prettier.config.js
src/style.ts
yarn-debug.log*
yarn-error.log*
