.DS_Store
.editorconfig
.eslintignore
.eslintrc.js
.github
.gitignore
.prettier*
.vscode
*.tsbuildinfo
babel.config.js
build-style.sh
coverage/
embed.gif
node_modules
prettier.config.js
rollup.config.js
screenshot.png
test
test-*.html
tsconfig.json
tsconfig.src.json
