.DS_Store
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.prettier*
.travis.yml
.vscode
*.tsbuildinfo
build-style.sh
embed.gif
node_modules
prettier.config.js
rollup.config.js
screenshot.png
test
test-*.html
tsconfig.json
tsconfig.src.json
