.vega-embed {
  position: relative;
  display: inline-block;
  padding-right: 38px;
}

.vega-embed .vega-actions-wrapper {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  z-index: 1000;

  opacity: 0.2;
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  color: #1b1e23;
  border: 1px solid #aaa;
  border-radius: 999px;
  transition: opacity 0.4s ease-in;
}

.vega-embed:hover .vega-actions-wrapper {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.vega-embed .vega-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;

  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #d9d9d9;
  background: white;
}

.vega-embed .vega-actions-wrapper:hover {
  background: transparent;
  color: transparent;
  border: none;
  box-shadow: none;
}

.vega-embed .vega-actions-wrapper:hover .vega-actions {
  display: flex;
}

.vega-embed .vega-actions a {
  padding: 8px 16px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: #434a56;
  text-decoration: none;
}

.vega-embed .vega-actions a:hover {
  background-color: #f7f7f9;
  color: #1b1e23;
}
