.vega-embed .vega-actions > a {
  transition: opacity 200ms ease-in;
  opacity: 0.3;
  margin-right: 0.6em;
  color: #444;
  text-decoration: none;
}

.vega-embed .vega-actions > a:hover {
  color: #000;
  text-decoration: underline;
}

.vega-embed:hover .vega-actions > a {
  opacity: 1;
  transition: opacity 50ms ease-out;
}
